#grid-container{
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
.grid-item{
	width:50px;
	border:2px solid black;
	background-color: transparent;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}
input#block_id{
	margin:40px;
	border-radius:50%;
	width:60px;
	height:60px;
	border:2px magenta dotted;
	font-size: 30px;
	text-align:center;
	margin-left:5px;
	color:blue;
}
label{
	font-size:20px;
	font-family:monospace;
	text-decoration:underline;
}
input[type=button]{
	margin:40px;
	width:150px;
	height:40px;
	font-size:18px;
	border-radius:8px;
	background-color:white;
}
input[type=button]:hover{
	cursor:pointer;
	background-color:magenta;
	border:2px blue solid;
}